# Игнорирование байт-кода и кэшей
__pycache__/
*.py[cod]

# Игнорирование виртуальных окружений
venv/
.env

# Игнорирование файлов дистрибутивов и артефактов упаковки
dist/
*.egg-info/

# Игнорирование файлов покрытия и кэшей
.coverage
*.py,cover
.cache/

# Игнорирование контрольных точек Jupyter Notebook
.ipynb_checkpoints

# Игнорирование конфигурационных файлов PyCharm
.idea/
